aplpy
astropy
astroquery
# astrorapid
beautifulsoup4
deepdiff
fastavro
lxml
matplotlib
numpy>=1.16.0
pandas
pandas-gbq
pandavro
requests
six>=1.13.0
tqdm

# GCS dependencies
google-api-python-client
google-auth
google-cloud-pubsub
google-cloud-bigquery
google-cloud-logging
google-cloud-storage
google-cloud-error-reporting
googleapis-common-protos
google-resumable-media

# Kafka dependencies
confluent-kafka
# krb5  # conda install krb5
