aplpy
astropy>=3.1
astroquery
astrorapid>=0.1.30
beautifulsoup4
deepdiff
fastavro
google-api-python-client
google-auth
google-cloud-bigquery
google-cloud-logging
google-cloud-storage
google-cloud-error-reporting
google-cloud-pubsub
googleapis-common-protos
google-resumable-media
lxml
matplotlib
numpy
pandas>=0.24.2
pandas-gbq
pandavro
requests
tqdm
google-cloud-pubsub
confluent_kafka
