PROJECT_ID=$1
# PROJECT_ID=$GOOGLE_CLOUD_PROJECT
beamdir=$2

# sources and sinks
export source_PS_ztf="projects/${PROJECT_ID}/topics/ztf_alert_data"
export sink_BQ_originalAlert=ztf_alerts.alerts
export sink_BQ_salt2=ztf_alerts.salt2
export sink_CS_salt2=${PROJECT_ID}_ztf-sncosmo
export sink_PS_exgalTrans=projects/${PROJECT_ID}/topics/ztf_exgalac_trans
export sink_PS_salt2=projects/${PROJECT_ID}/topics/ztf_salt2

# job-specific configs
export dataflow_job_name_bqsink=production-ztf-ps-bq
# export dataflow_job_name_valadd=production-ztf-ps-exgal-salt2
export dataflow_job_name_valadd=test-salt2-cleanup
export max_num_workers_bqsink=20
export max_num_workers_valadd=10
export setup_file_bqsink=${beamdir}/ztf_bq_sink/setup.py
export setup_file_valadd=${beamdir}/ztf_value_added/setup.py

# generic job configs
export region=us-central1
export beam_bucket=${PROJECT_ID}_dataflow
export staging_location=gs://${beam_bucket}/staging
export temp_location=gs://${beam_bucket}/temp
export runner=DataflowRunner

# Salt2 configs
export salt2_SNthresh=5.
export salt2_minNdetections=5
