PROJECT_ID=$1
# PROJECT_ID=$GOOGLE_CLOUD_PROJECT
beamdir=$2

# sources and sinks
export source_PS_ztf="projects/${PROJECT_ID}/topics/ztf_alert_data"
export sink_BQ_originalAlert=ztf_alerts.alerts
export sink_BQ_salt2=ztf_alerts.salt2
export sink_PS_exgalTrans=projects/${PROJECT_ID}/topics/ztf_exgalac_trans
export sink_PS_salt2=projects/${PROJECT_ID}/topics/ztf_salt2

# job-specific configs
dataflow_job_name_bqsink=production-ztf-ps-bq
dataflow_job_name_valadd=production-ztf-ps-exgal-salt2
max_num_workers_bqsink=20
max_num_workers_valadd=10

# generic job configs
export region=us-central1
export beam_bucket=${PROJECT_ID}_dataflow-test
export staging_location=gs://${beam_bucket}/staging
export temp_location=gs://${beam_bucket}/temp
export runner=DataflowRunner

# python setup file
export setup_file_bqsink=${beamdir}/ztf_bq_sink/setup.py
export setup_file_valadd=${beamdir}/ztf_value_added/setup.py
