# As explained here
# https://cloud.google.com/functions/docs/writing/specifying-dependencies-python
# dependencies for a Cloud Function must be specified in a `requirements.txt`
# file (or packaged with the function) in the same directory as `main.py`

google-cloud-logging
pittgoogle-client>=0.3.22
upsilon
# required by upsilon
# https://github.com/dwkim78/upsilon?tab=readme-ov-file#1-dependency
scikit-learn>=1.8.0
numpy>=2.0
scipy>=1.17.1
pyFFTW>=0.15.1

# for Cloud Run
# https://cloud.google.com/run/docs/quickstarts/build-and-deploy/deploy-python-service
# pinned following quickstart example. [TODO] consider un-pinning
Flask
gunicorn
Werkzeug
