apache-beam[gcp]==2.25.0
astropy
fastavro
google-cloud-bigquery<2.10
# apache-beam 2.25.0 requires pyarrow<0.18.0,>=0.15.1
# but google-cloud-bigquery>=2.10.0 requires pyarrow>=3
google-cloud-storage>=1.38
google-cloud-pubsub<2  # beam requires <2
numpy
pandas
PyYAML>=5.3
six>=1.15  # bigquery requires
typing
