pandas==1.5.1
numpy==1.23.3
google-cloud-functions
google-cloud-logging
pittgoogle-client>=0.3.22

# for Cloud Run
# https://cloud.google.com/run/docs/quickstarts/build-and-deploy/deploy-python-service
Flask
gunicorn
Werkzeug

# for SuperNNova
colorama
h5py
natsort
scikit-learn
seaborn
supernnova
tqdm
# install torch from wheel because cloud fncs don't support GPUs
# https://stackoverflow.com/questions/55449313/google-cloud-function-python-3-7-requirements-txt-makes-deploy-fail
https://download.pytorch.org/whl/cpu/torch-2.8.0%2Bcpu-cp311-cp311-manylinux_2_28_x86_64.whl#sha256=cb06175284673a581dd91fb1965662ae4ecaba6e5c357aa0ea7bb8b84b6b7eeb
