# As explained here
# https://cloud.google.com/functions/docs/writing/specifying-dependencies-python
# dependencies for a Cloud Function must be specified in a `requirements.txt`
# file (or packaged with the function) in the same directory as `main.py`

confluent-kafka==2.6.0
fastavro
google-cloud-logging
google-cloud-storage
httpx # used by confluent-kafka
pittgoogle-client>=0.3.11

# for Cloud Run
# https://cloud.google.com/run/docs/quickstarts/build-and-deploy/deploy-python-service
# pinned following quickstart example. [TODO] consider un-pinning
Flask==3.0.3
gunicorn==22.0.0
Werkzeug==3.0.3
