apache-beam[gcp]==2.25.0
argparse
astropy==3.2.1
fastavro==0.22.3
# apache-beam 2.25.0 requires pyarrow<0.18.0,>=0.15.1
# but google-cloud-bigquery>=2.10.0 requires pyarrow>=3
google-cloud-bigquery<2.10
google-cloud-core>==1.4.1
google-cloud-dataflow
google-cloud-datastore>==1.15
google-cloud-storage==1.38.0
iminuit==1.4.9
matplotlib==3.1.1
# older pyarrow versions require numpy<1.20 to successfully convert datatypes
# gcp_utils needs this to load a pandas dataframe to bigquery
# this is a numpy bug: https://github.com/numpy/numpy/issues/17913
numpy==1.19.5
pandas==0.24.2
pgb-broker-utils
sncosmo==2.2.0
six>=1.15  # bigquery requires
workflow
